*{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*************       Hero Page Start         ************/
.hero{
    background: #1F2937;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
}

.nav-links {
    margin-right: 90px;
}

.nav-links > ul {
    padding: 0;
}

.hero-logo{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 900;
}

.nav-links ul li a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.hero-img {
    flex: 1;
    background-color: gray;
    margin-right: 90px;
    margin-left: 20px;
    height: 255px;
}

.hero-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.hero-details {
    flex: 1;
    margin-left: 110px;
}

.hero-details > h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 10px;
}

.hero-details > p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.hero-details > button {
    background-color: #3882F6;
    padding: 8px 20px;
    border: none;
    color: #E5E7EB;
    border-radius: 5px;
    margin: 10px;
}

/*************         RandInfo Page Start        ************/

.random-information {
    color: #1F2937;
    height: 450px;
    padding: 20px;
}

.rand-info-title {
    text-align: center;
    margin: 30px;
    font-size: 36px;
}

.rand-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rand-info-item {
    flex-grow: 0;
    width: 200px;
    margin: 20px;

}

.rand-info-item > img {
    width: 100%;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.rand-info-item > p {
    text-align: center;
}

/*************         Testimonial Page Start        ************/
.testimonial-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    padding: 50px
}
.quote > blockquote {
    font-size: 34px;
    font-style: italic;
    font-weight: 300;
    width: 700px;    
}

.quote > p {
    text-align: end;
    font-size: 20px;
    font-weight: 700;
    margin-right: 55px;
}